[Unit]
Description=Start pve-autotag service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pve-autotag.sh
Restart=always

[Install]
WantedBy=multi-user.target
